@using System.Diagnostics.CodeAnalysis
@inherits ACoreComponentBase
@if (AppManager.AppSettings.IsTest)
{
    <span id="@TestId">
        @ChildContent
    </span>
}
else
{
    @ChildContent
}

@code {
    
    [Parameter, AllowNull]
    public string TestId { get; set; }

    [Parameter, AllowNull]
    public RenderFragment ChildContent { get; set; }
}