@using ACoreApp.Client.UI.Layouts
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link href="_content/ACore.Blazor/index.css" rel="stylesheet"/>
    
    <script src="_content/Telerik.UI.for.Blazor.Trial/js/telerik-blazor.js"></script>
    <script src="_content/ACore.Blazor/index.js"></script>
    @* <script src="@Assets["app.js"]"></script> *@

    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
@* <Routes /> *@
@* <Routes @rendermode="InteractiveAuto"/> *@
<Routes @rendermode="InteractiveServer"/>
@* <Routes @rendermode="InteractiveWebAssembly"/> *@
@* <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" /> *@
<script src="_framework/blazor.web.js"></script>
</body>

</html>
