@inherits ACoreComponentBase

@using ACore.Blazor.Components.SideBar.LeftSideBar
@using ACore.Blazor.Components.SideBar.RightSideBar
@using Telerik.SvgIcons
@using ACore.Blazor.Modules.LoadingModule.Components
<TelerikDrawer @ref="_leftMenuDrawer" Expanded="@_leftMenuExpanded"
               ExpandedChanged="LeftMenuExpandedChangedHandler"
               TItem="int"
               Data="_leftDrawerData"
               Mode="_mode"
               Position="DrawerPosition.Start"
               MiniMode="false"
               Class="jm-content-drawer-main">
    <Template>
        <TelerikAppBar PositionMode="AppBarPositionMode.Static" Class="jm-content-app-bar">
            <AppBarSection Class="jm-content-logo">
                <h2>E2E Testing</h2>
            </AppBarSection>
        </TelerikAppBar>
        <LeftMenuContent></LeftMenuContent>
    </Template>
    <DrawerContent>
        <TelerikAppBar PositionMode="AppBarPositionMode.Sticky" Class="jm-content-app-bar">
            <AppBarSection>
                <TelerikButton FillMode="flat" Icon="SvgIcon.Menu" OnClick="ToggleMenuDrawer"/>
            </AppBarSection>
            @AppBar
        </TelerikAppBar>
        <TelerikDrawer @ref="_rightMenuDrawer" Expanded="@RightMenuExpanded"
                       ExpandedChanged="@RightMenuExpandedChangedHandler"
                       MiniMode="false"
                       Position="DrawerPosition.End"
                       TItem="int"
                       Data="_rightDrawerData"
                       Mode="DrawerMode.Overlay">
            <Template>
                <RightMenuContent RightMenuType="@_rightMenuType"></RightMenuContent>
            </Template>
            <DrawerContent>
                <TelerikGridLayout RowSpacing="6px" ColumnSpacing="10px">
                    <GridLayoutRows>
                        <GridLayoutRow Height="30px"></GridLayoutRow>
                        <GridLayoutRow Height="100%"></GridLayoutRow>
                    </GridLayoutRows>
                    <GridLayoutColumns>
                        <GridLayoutColumn Width="100%"></GridLayoutColumn>
                    </GridLayoutColumns>
                    <GridLayoutItems>
                        <GridLayoutItem Row="1" Column="1" Class="jm-breadcrumb">
                            <Breadcrumb></Breadcrumb>
                        </GridLayoutItem>
                        <GridLayoutItem Row="2" Column="1" Class="jm-content">
                            <div class="jm-content-child">
                                @* <BodyContent> *@
                                    @Body
                                @* </BodyContent> *@
                            </div>
                        </GridLayoutItem>
                    </GridLayoutItems>
                </TelerikGridLayout>
            </DrawerContent>
        </TelerikDrawer>
    </DrawerContent>
</TelerikDrawer>

<TelerikMediaQuery Media="(max-width: 768px)" OnChange="MediaQueryChange"></TelerikMediaQuery>

<LoaderContainer></LoaderContainer>
